node_modules
npm-debug.log
dist
build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
.next
.venv
__pycache__
.pytest_cache
.env
.env.example
.vercel
prisma/migrations
coverage
.idea
.vscode
*.swp
*.swo
*~
.nyc_output
